meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

// Plugins css
link(href="/js/admin/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet")
link(rel="stylesheet" href="/js/admin/plugins/switchery/switchery.min.css")
link(href="/js/admin/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css")
link(href="/js/admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet")
link(href="/js/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet")
link(href="/js/admin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet")
link(href="/js/admin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet")
link(href="/js/admin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet")

// Summernote css
link(href="/js/admin/plugins/summernote/summernote.css" rel="stylesheet")
// Morris Chart CSS
link(rel="stylesheet" href="/js/admin/plugins/morris/morris.css")
// Sweet Alert
link(href="/js/admin/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css")

// Bootstrap core CSS
link(href="/css/admin/bootstrap.min.css" rel="stylesheet")
// MetisMenu CSS
link(href="/css/admin/metisMenu.min.css" rel="stylesheet")
// Icons CSS
link(href="/css/admin/icons.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
// Custom styles for this template
link(href="/css/admin/style.css" rel="stylesheet")