// js placed at the end of the document so the pages load faster
<script src="/js/admin/jquery-2.1.4.min.js"></script>
<script src="/js/admin/bootstrap.min.js"></script>
<script src="/js/admin/metisMenu.min.js"></script>
<script src="/js/admin/jquery.slimscroll.min.js"></script>

// App Js
<script src="/js/admin/jquery.app.js"></script>
