div(id="add-contact" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-contactLabel" aria-hidden="true")
  form(method="POST" action="/gato/new" class="form-validation" novalidate enctype="multipart/form-data")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          h4(class="modal-title" id="add-contactLabel") Añadir gato

        div.modal-body
          div.card-box
            h5(class="m-t-0 header-title") Información básica

            div.row
              div.col-md-4
                label(for="userName") Nombre
                input(type="text" name="nombre" parsley-trigger="change" placeholder="Nombre del gato" class="form-control" required="true")
             
              div.col-md-4
                div.form-group
                  label(for="fechaNacimiento") Fecha de nacimiento
                  div
                    div.input-group
                      input(type="text" class="form-control" placeholder="mm/dd/yyyy" name="fecha_nacimiento" id="datepicker-autoclose" required="true")
                      span(class="input-group-addon bg-custom b-0") #[i(class="mdi mdi-calendar text-white")]
              
              div.col-md-3
                div.form-group
                  label(for="sexo") Sexo
                  select(class="form-control" name="sexo")
                    option F - Femenine
                    option M - Masculine
                    option U - Unknown
              
              div.col-md-3 
                div.form-group
                  label(for="edad") Edad
                  select(class="form-control" name="edad")
                    option A - Adult
                    option J - Juvenile
                    option K - Kitten
                        
              div.col-md-5
                div.form-group
                  label(for="colonia") Colonia
                  select(class="form-control" name="colony")
                    each colony in colonies
                      option #{ colony.name }

            br
            h5(class="m-t-0 header-title") e
            div.row
                    
              div.col-md-6
                div.form-group
                  label(for="desp") Feline-alities
                  select(class="form-control select2" name="desp")
                    optgroup(label="P - Purple")
                      option(value="PI") Private Investigator
                      option(value="SA") Secret Admirer
                      option(value="LB") Love Bug
                    optgroup(label="O - Orange")
                      option(value="TE") The Executive
                      option(value="S") Sidekick
                      option(value="PA") Personal Assistant
                    optgroup(label="G - Green")
                      option(value="MVP") MVP
                      option(value="PA") Party Animal
                      option(value="LoB") Leader of the Band
                    optgroup(label="R - Feral")
                      option(value="MC") Makes Contact
                      option(value="SFF") Seen from far distance
                      option(value="MC + A")  Makes contact and aggresive
                    
              div.col-md-3
                div.form-group
                  label(for="sterilization") Sterilization 
                  select(class="form-control" name="sterilization")
                    option Y - Yes
                    option N - Not
                    option U - Unknown
            
              div.col-md-3
                div.form-group
                  label(for="vacc") Vacc
                  select(class="form-control" name="vacc")
                    option Y - Yes
                    option N - Not
                    option U - Unknown
                    
              div.col-md-3
                div.form-group
                  label(for="desp") Desp
                  select(class="form-control" name="desp")
                    option Y - Yes
                    option N - Not
                    
            br
            h5(class="m-t-0 header-title") Fotografía
            div.row
              div.col-md-12
                div.form-group
                  labe(class="control-label") Seleccione la fotografía del gato
                  input(type="file" name="foto" class="filestyle" data-buttonname="btn-default" required="true")

        div.modal-footer
          button(type="button" class="btn btn-default " data-dismiss="modal") Cancelar
          button(type="submit" class="btn btn-primary ") Guardar
        