div(id="add-colony" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-contactLabel" aria-hidden="true")
  form(method="POST" action="/admin/colony" class="form-validation" novalidate)
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          h4(class="modal-title" id="add-contactLabel") Añadir colonia

        div.modal-body
          div.row
            div.form-group
              label(for="userName") Nombre
              input(type="text" name="nombre" parsley-trigger="change" placeholder="Nombre de la colonia" class="form-control" required="true")

        div.modal-footer
          button(type="button" class="btn btn-default " data-dismiss="modal") Cancelar
          button(type="submit" class="btn btn-primary ") Guardar
        