// left navigation start
aside.sidebar-navigation
  div.scrollbar-wrapper
    div
      button(type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm")
        i(class="mdi mdi-close")
      // User Detail box
      div.user-details
        div.pull-left
          img(src="/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle")
        div.user-info
          a Stanley Jones
          p(class="text-muted m-0") Administrador
            
      // Left Menu Start
      ul(class="metisMenu nav" id="side-menu")
        li
        a(href="") #[i(class="ti-home")] Panel