ul(class="metisMenu nav" id="side-menu")
  li
    a(href="/admin") #[i(class="ti-new-window")] Panel
  li
    a(href="/admin/gatos") #[i(class="ti-medall")] Gatos
  li
    a(href="/admin/colonias") #[i(class="ti-home")] Colonias
  li
    a(href="/admin/usuarios") #[i(class="ti-user")] Usuarios
  li
    a(href="/admin/procesos") #[i(class="")] Procesos