ul(class="metisMenu nav" id="side-menu")
  li
    a(href="/admin") #[i(class="ti-new-window")] Panel
  li
    a(href="javascript: void(0);") #[i(class="ti-medall")] Gatos #[span(class="fa arrow")]
    ul(class="nav-second-level nav" aria-expanded="true")
      li #[a(href="/admin/gatos") Ver todos]
      li #[a(href="/admin/gatos/nuevo") Añadir]
  li
    a(href="/admin/colonias") #[i(class="ti-home")] Colonias
  li
    a(href="javascript: void(0);") #[i(class="ti-user")] Usuarios
    ul(class="nav-second-level nav" aria-expanded="true")
      li #[a Ver todos]
      li #[a Añadir]