ul(class="metisMenu nav" id="side-menu")
  li
    a(href="") #[i(class="ti-new-window")] Panel
  li
    a(href="javascript: void(0);") #[i(class="ti-medall")] Gatos #[span(class="fa arrow")]
    ul(class="nav-second-level nav" aria-expanded="true")
      li #[a Añadir nuevo]
      li #[a Buscar]
      li #[a Ver todos]
  li
    a(href="") #[i(class="ti-home")] Colonias
  li
    a(href="") #[i(class="ti-user")] Usuarios