// Top Bar Start
div.topbar
      
    // LOGO
    div.topbar-left
      div
        a(href="#" class="logo")
          img(src="http://www.uninorte.edu.co/Uninorte/images/topbar_un/headerlogo_un.png" alt="logo" class="logo-lg")
          img(src="http://www.ssintegra.com/images/uninorte.png" alt="logo" class="logo-sm hidden")
      
    // Top navbar
    div(class="navbar navbar-default" role="navigation")
      div.container
        div
            
          // Mobile menu button
          div.pull-left
            button(type="button" class="button-menu-mobile visible-xs visible-sm")
              i(class="fa fa-bars")
            span.clearfix
            
          // Top nav Right menu
          // Top nav Right menu
          ul(class="nav navbar-nav navbar-right top-navbar-items-right pull-right")
            li.hidden-xs
              div(class="navbar-left pull-left" style="padding-top:12%;")
                a(href='/logout' class="btn btn-danger btn-xs") #[i(class="ti-power-off")] Salir