// Top Bar Start
div.topbar
      
    // LOGO
    div.topbar-left
      div
        a(href="#" class="logo")
          img(src="/images/logo.png" alt="logo" class="logo-lg")
          img(src="/images/logo_sm.png" alt="logo" class="logo-sm hidden")
      
    // Top navbar
    div(class="navbar navbar-default" role="navigation")
      div.container
        div
            
          // Mobile menu button
          div.pull-left
            button(type="button" class="button-menu-mobile visible-xs visible-sm")
              i(class="fa fa-bars")
            span.clearfix
           
          // Top nav left menu
          ul(class="nav navbar-nav hidden-sm hidden-xs top-navbar-items")
            li
              a Acerca de
            li
              a Ayuda
            
          // Top nav Right menu
          ul(class="nav navbar-nav navbar-right top-navbar-items-right pull-right")
            li.hidden-xs
              form(role="search" class="navbar-left app-search pull-left")
                input(type="text" placeholder="Search..." class="form-control")
                a
                  i(class="fa fa-search")