div.user-details
  div.pull-left
    img(src="https://scontent.xx.fbcdn.net/v/t31.0-8/s960x960/17493155_1427647903947280_1316763995182102963_o.jpg?oh=2ce49976e48e991fcc90683ee9dc6270&oe=59B5DD10" alt="" class="thumb-md img-circle")
  div.user-info   
    a #{user.local.name.nombre} #{user.local.name.apellidos}                    
    p(class="text-muted m-0") Administrador