extends ./default

block content
  
  div#page-wrapper
  
    include ./_topbar

    // Page content start
    div#page-contentbar

      // left navigation start
      aside.sidebar-navigation
        div.scrollbar-wrapper
          div
            button(type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm")
              i(class="mdi mdi-close")
            // User Detail box
            div.user-details
              div.pull-left
                img(src="https://scontent.xx.fbcdn.net/v/t31.0-8/s960x960/17493155_1427647903947280_1316763995182102963_o.jpg?oh=2ce49976e48e991fcc90683ee9dc6270&oe=59B5DD10" alt="" class="thumb-md img-circle")
              div.user-info
                a Wilson Tovar
                p(class="text-muted m-0") Administrador

            // Left Menu Start
            include ./_navigation
      
      // 
      div#page-right-content
        div.container
          div.row
            div.col-sm-12
              h4(class="header-title m-t-0 m-b-20") Agregar nuevo gato
          // end row
        // end container
        
        form(action="" method="POST" class="form-validation" novalidate)
        
          div.col-lg-7
            div.card-box
              h4(class="m-t-0 header-title") Información básica
              p(class="text-muted font-13 m-b-10") Ingrese la información básica del gato.
              
              div.row
                div.col-md-6
                  div.form-group
                    label(for="userName") Nombre
                    input(type="text" name="nick" parsley-trigger="change" required placeholder="Enter user name" class="form-control" id="userName")
                div.col-md-6
                  div.form-group
                    label(for="fechaNacimiento") Fecha de nacimiento
                    div
                      div.input-group
                        input(type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose")
                        span(class="input-group-addon bg-custom b-0") #[i(class="mdi mdi-calendar text-white")]
              
              br
              h4(class="m-t-0 header-title") Información biológica
              
              div.row
                div.col-md-4
                  div.form-group
                    label(for="example-input1-group1") Peso
                    div(class="input-group")
                      span.input-group-addon #[i(class="mdi mdi-basket-fill")]
                      input(type="text" id="example-input3-group1" name="example-input3-group1" class="form-control" placeholder="..")
                      span.input-group-addon Kgs
                    
                            
                 

                 
          div.col-lg-5
            div(class="panel panel-color panel-info")
              div.panel-heading
                h3.panel-title ¿Sabias que..?
              div.panel-body
                p Al agregar un gato...
              
            div.card-box
              h4(class="m-t-0 header-title") Fotografía
              
              div.form-group
                labe(class="control-label") Seleccione la fotografía del gato
                input(type="file" class="filestyle" data-buttonname="btn-default")
            
            
        
        div.footer
          div
            <strong>felinorte</strong> - Copyright &copy; 2017
        