extends default

block content
  
  div#page-wrapper
    
    // Barra superior
    include _topbar 

    // Page content start
    div.page-contentbar
      
      // Navegación lateral
      include _navigation
      
      // START PAGE CONTENT
      div#page-right-content
        div.container
          div.row
            div.col-sm-12
              div(class="card-box widget-inline")
                div.row
                
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") track_changes] #[b(data-plugin="counterup")] 20
                      p.text-muted Gatos
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") track_changes] #[b(data-plugin="counterup")] 20
                      p.text-muted Colonias
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") track_changes] #[b(data-plugin="counterup")] 20
                      p.text-muted Procesos de adopción
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") track_changes] #[b(data-plugin="counterup")] 20
                      p.text-muted Usuarios
