<!doctype html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scale=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portales de Felinorte</title>       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->  
    </head>
    <body style="background: url('https://cdn.pixabay.com/photo/2014/12/27/16/38/planet-581239_960_720.jpg'); background-size: 100%;"> 
        //<iframe width="560" height="315" src="https://www.youtube.com/embed/bQL2FsHe7G4?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&loop=1&playlist=bQL2FsHe7G4;html5=1&amp;allowfullscreen=true&amp;wmode=transparent&amp" frameborder="0" allowfullscreen style=" height: 100%; position: fixed; width: 100%; z-index: -100;"></iframe>
        <div class="container">
            <div class="jumbotron text-center" style="background-color: rgba(255,255,255,0.4); margin: 1.5%; margin: 1.5% 10%; color: #000;">
                <header>
                    <h1>¡Felicitaciones!</h1>
                </header>
                <div>
                    <article>
                        <header>
                            <h3>¡Finalmente has llegado al final de internet!</h3>
                        </header>
                        <div style="font-size: 80%">
                            <p>No hay nada más que ver, no hay más enlaces para visitar.
                              <br/>Lo has hecho todo.
                              <br/>Esta es la última página en el último servidor en el extremo muy lejano de Internet.
                              <br/>Ahora debe apagar su computadora e ir a hacer algo útil con el resto de su vida. *<br/>
                            </p>
                            <p >Sugerencias:
                                <ins><br/>Lea un libro.
                                <br/>Plante un árbol.
                                <br/>Haga algún servicio social.
                                <br/>Preséntese a las otras personas que viven en su casa (su familia).
                                <br/>Personalmente interactue con sus vecinos, que probablemente sólo conoció en línea.<br/>
                                </ins>
                            </p>
                            <p><em>* Por favor, no se olvide de apagar las luces en su salida.</em>
                                <br/>Con el fin de ahorrar tiempo, descargue Internet a su unidad local.<br/>
                            </p>
                        </div>
                    </article>
                </div>
                <a class="btn btn-primary" href='/portales'>Descargar internet</a>
            </div>            
        </div>        
    </body>
</html>