<!Doctype html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scale=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
        <title>Login Felinorte</title>  
    </head>    
    <body>    
        <main  class="container" style="padding: 3% 20%">          
            <div class="jumbotron text-center">
            <header id="cabecera">  
                <span>
                    <img src="http://www.uninorte.edu.co/Uninorte/images/topbar_un/headerlogo_un.png" width= 260px>
                </span>
                <h1 style="font-size: 45px">Iniciar sesión</h1>  
            </header>                
                <form class="form-inline" style="padding-top: 30px">
                  <div class="form-group">
                    <label class="control-label" for="inputGroupSuccess3">Email:</label>
                    <div class="input-group">
                      <span class="input-group-addon">@</span>
                      <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status">
                    </div>                    
                  </div>
                </form>
                <form class="form-inline"  style="padding-top: 20px">
                  <div class="form-group ">
                    <label class="control-label" for="inputSuccess4">Contraseña:</label>
                    <input type="text" class="form-control" id="inputSuccess4" aria-describedby="">                    
                  </div>
                </form>
                <form class="form-inline"  style="padding-top: 15px">
                  <div class="form-group">
                      <div class="col-sm-offset-1 col-sm-10">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> Recordar información.
                              </label>
                          </div>
                          <button type="submit" class="btn btn-primary" style="margin-top: 10px">Entrar</button>
                      </div>                      
                  </div>
                  <p style="font-size: 100%; margin: 0px; padding: 15px 0px 0px 0px">Querría <a href="/signup">Registrarse</a>?</p>
                  <p style="font-size: 100%; margin: 0px; padding: 0px">O ir al <a href="/">Inicio</a>.</p>
                  <footer style="padding-top: 10px;">Derechos Reservados &copy; 2017-2018</footer>
                </form>                 
            </div>        
        </main>
    </body>
</html>
    