<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scale=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Autenticación</title>       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    </head>
    <body class="container" style="padding-top: 90px">
        <div class="jumbotron text-center">
        <header id="cabecera">  
            <span>
              <img src="http://www.uninorte.edu.co/Uninorte/images/topbar_un/headerlogo_un.png" width= 260px>
            </span>
            <h1 style="font-size: 45px">Portales de Felinorte</h1>            
        </header>
        <p>Ingresar o registrarse:</p>
        <nav style="padding-top: 20px">
            <a href='/home/login' class="btn btn-primary">Iniciar Seción</a>
            <a href='/home/signup' class="btn btn-primary">Registrarse</a>        
        </nav>
        <footer style="margin-top: 30px;">Derechos Reservados &copy; 2017-2018</footer>
        </div>
    </body>
</html>