<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scale=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Autenticación</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span>Autenticación de Felinorte</h1>  
                <p>Ingresa o Registrate:</p>
                <a href="/login" class="btn btn-default">Iniciar Seción</a>
                <a href="/signup" class="btn btn-default">Registrarse</a>
            </div>
        </div>
    </body>
</html>