<footer id="footer" class="fh5co-bg-color">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="copyright">
                <p><small>&copy; 2017 . <br> All Rights Reserved. <br>. <br> Photos by: unsplash.com <br>principal/Designed by <a href="http://freehtml5.co" target="_blank">AJWK</a> </a></small></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <h3>Adopciones Felinorte</h3>
                  <ul class="link">
                    <li><a id="sobre" href="#">Sobre nosotros </a></li>
                    <li><a href="#">Ver catálogo</a></li>
                    <li><a href="https://www.google.com.co/maps/place/Universidad+Del+Norte/@11.0194794,-74.8504209,15z/data=!4m5!3m4!1s0x0:0x5c3de7e774806ad1!8m2!3d11.0194794!4d-74.8504209">Ubicación</a></li>
                    <li><a href="http://www.uninorte.edu.co/web/ecocampus/felinorte">Contacto </a></li>
                  </ul>
                </div>

                <div class="col-md-6">
                  <h3>Información</h3>
                  <p> Universidad del Norte. Km.5 Vía Puerto Colombia. Barranquilla, Colombia. </p>
                  <p>Correo electrónico: felinorte@uninorte.edu.co</p>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <ul class="social-icons">
                <li>
                  <a href="https://twitter.com/felinortee"><i class="icon-twitter-with-circle"></i></a>
                  <a href="https://es-la.facebook.com/grupofelinorte/"><i class="icon-facebook-with-circle"></i></a>
                  <a href="https://www.instagram.com/felinortee/"><i class="icon-instagram-with-circle"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
</footer>