extends templates/default
 
block content
  h1= title
  div(class="row")
    div(class="col s9")
      footer(style="background: #546e7a;" class="page-footer")
        div(class="container")
          div(class="row")
            div(class="col l6 s12")
              h5(class="white-text") Footer Content
              p(class="grey-text text-lighten-4") You can use rows and columns here to organize your footer content.
          div(class="col l4 offset-l2 s12")
            h5(class="white-text") que verga
            ul
              li
                a(class="grey-text text-lighten-3" href="#!") 
        div(class="footer-copyright")
          a(href="https://www.youtube.com/ZURB" class="youtube")
          div(class="container") © 2014 Copyright Text
    div(class="col s3")