<!DOCTYPE html>
<html class="no-js">
include header
<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      <div id="fh5co-header">
        <header id="fh5co-header-section">
          <div class="container">
             include nave
          </div>
        </header>
      </div>
      <!-- end:fh5co-header -->

      <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
          <ul class="slides">
            <li style="background-image: url(principal/images/img1.jpg);">
              <div class="overlay-gradient"></div>
              <div class="container">
                <div class="col-md-12 col-md-offset-0 text-center slider-text">
                  <div class="slider-text-inner js-fullheight">
                    <div class="desc">
                      <p><span>Proyecto institucional</span></p>
                      <h2>Felinorte</h2>
                      <p>
                        <a href="#" class="btn btn-primary btn-lg"> Ver catálogo de gatos</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li style="background-image: url(principal/images/img2.jpg);">
              <div class="overlay-gradient"></div>
              <div class="container">
                <div class="col-md-312 col-md-offset-0 text-center slider-text">
                  <div class="slider-text-inner js-fullheight">
                    <div class="desc">
                      <p><span>Felinorte</span></p>
                      <h2>Adopta un amigo</h2>
                      <p>
                        <a href="#" class="btn btn-primary btn-lg"> Iniciar proceso</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li style="background-image: url(principal/images/img3.jpg);">
              <div class="overlay-gradient"></div>
              <div class="container">
                <div class="col-md-12 col-md-offset-0 text-center slider-text">
                  <div class="slider-text-inner js-fullheight">
                    <div class="desc">
                      <p><span>Portal de adopciones</span></p>
                      <h2>¡Ellos te necesitan!</h2>
                      <p>
                        <a href="#" class="btn btn-primary btn-lg"> Adoptar </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </aside>
      <div class="wrap">
        <div class="container">
          <div class="row">

            <div id="availability">
              <form action="#">

                <div class="a-col">
                  <section>
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>Sexo</option>
                      <option value="email">Masculino</option>
                      <option value="twitter">Femenino</option>
                    </select>
                  </section>
                </div>
                <div class="a-col alternate">
                  <div class="input-field">
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>Edad</option>
                      <option value="email">Cahorro</option>
                      <option value="twitter">Joven</option>
                      <option value="linkedin">Adulto</option>
                    </select>
                  </div>
                </div>
                <div class="a-col alternate">
                  <div class="input-field">
                    <select class="cs-select cs-skin-border">
                      <option value="" disabled selected>Personalidad</option>
                      <option value="email">Sociable</option>
                       <option value="email">Amoroso</option>
                       <option value="email">Jugueton</option>
                       <option value="email">Tranquilo</option>
                          <option value="email">No interesa</option>
                    </select>
                  </div>
                </div>
                <div class="a-col action">
                  <a href="#">
                    <span> FILTRAR </span> BUSQUEDA
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <div id="featured-hotel" class="fh5co-bg-color">
        <div class="container">
          <div class="row">
            <div id="descrip" class="feature-full-2col">
              <div class="f-hotel">
                <div class="image" style="background-image: url(principal/images/gato2.jpg);">
                  <div class="descrip text-center">
                    <p><small>Felinorte</small></p>
                  </div>
                </div>
                <div class="desc">
                  <h3>¿Qué hace Felinorte?</h3>
                  <p>Felinorte como proyecto educativo busca desarrollar proyectos de I+D+I utilizando el campus, los problemas asociados a sus ecosistemas y la interacción de sus especies, en particular la interacción de los gatos con el humano, como plataforma de aprendizaje.</p>
                  <p><a href="sobreFelinorte.html" class="btn btn-primary btn-luxe-primary">Conocer más<i class="ti-angle-right"></i></a></p>
                </div>
              </div>
              <div class="f-hotel">
                <div class="image" style="background-image: url(principal/images/gato1.jpg);">
                  <div class="descrip text-center">
                    <p><small>Felinorte</small></p>
                  </div>
                </div>
                <div class="desc">
                  <p>&ldquo;La Universidad del Norte y Felinorte no funcionan como refugios en los que se acojan gatos, por el contrario Felinorte es, además de un programa educativo, un programa de control poblacional que pretende que la población se mantenga de un tamaño fijo. Para ello no sólo se esterilizan los felinos, sino que también se dan en adopción&rdquo; - Norelli Schettini, Directora de Felinorte</p>
                  <p><a href="#" class="btn btn-primary btn-luxe-primary">Adoptar<i class="ti-angle-right"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
                <h2>El Significado de adoptar...</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="testimony">
                <blockquote>&ldquo;Adoptar un animal significa abrirle las puertas de tu casa con el fin de convertirlo en un miembro más de la familia, darle todos los cuidados que requiere y, sobre todo, la atención y el cariño que tanto necesita y merece. &rdquo; </blockquote>
                <p class="author"><cite>Somorescateanimal.org</cite></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="testimony">
                <blockquote>&ldquo;Adoptar una mascota le confiere y respeta su condición inherente de SER VIVO que pierde al ser adquirido como mercancía, adorno, objeto o capricho en una compra-venta&rdquo;</blockquote>
                <p class="author"><cite>Roshan Benji</cite></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="testimony">
                <blockquote> &ldquo;Al adoptar a mi gato le salve la vida y ahora el me lo retribuye llenando de amor, sonrisas y cariño mi hogar.&rdquo; </blockquote>
                <p class="author"><cite>Anónimo</cite></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="fh5co-blog-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
                <h2> </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="blog-grid" style="background-image: url(principal/images/feli4.png);">
                <div class="date text-center">
                  <small>March</small>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="blog-grid" style="background-image: url(principal/images/feli2.png);">
                <div class="date text-center">
                </div>
              </div>
              <div class="desc">
                <h3><a href="#">Integrantes felinorte</a></h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-grid" style="background-image: url(principal/images/feli3.png);">
                <div class="date text-center">
                  <small>Aug</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      include footer

    </div>
    <!-- END fh5co-page -->

  </div>
  <!-- END fh5co-wrapper -->

  <!-- Javascripts -->
  <script src="principal/js/jquery-2.1.4.min.js"></script>
  <!-- Dropdown Menu -->
  <script src="principal/js/hoverIntent.js"></script>
  <script src="principal/js/superfish.js"></script>
  <!-- Bootstrap -->
  <script src="principal/js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="principal/js/jquery.waypoints.min.js"></script>
  <!-- Counters -->
  <script src="principal/js/jquery.countTo.js"></script>
  <!-- Stellar Parallax -->
  <script src="principal/js/jquery.stellar.min.js"></script>
  <!-- Owl Slider -->
  <!-- // <script src="js/owl.carousel.min.js"></script> -->
  <!-- CS Select -->
  <script src="principal/js/classie.js"></script>
  <script src="principal/js/selectFx.js"></script>
  <!-- Flexslider -->
  <script src="principal/js/jquery.flexslider-min.js"></script>
  <script src="principal/js/scrolls.js"></script>
  <script src="principal/js/custom.js"></script>

</body>

</html>