<!DOCTYPE html>
<<<<<<< HEAD <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mi cuenta - felinorte</title>

    <!--  favicon -->
    <link rel="shortcut icon" href="assets/img/ico/favicon.png">


    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Material Icons CSS -->
    <link href="/assets/fonts/iconfont/material-icons.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- materialize -->
    <link href="/assets/materialize/css/materialize.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- shortcodes -->
    <link href="/assets/css/shortcodes/shortcodes.css" rel="stylesheet">
    <link href="/assets/css/shortcodes/login.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="/assets/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <section class="section-padding banner-wrapper login-alt banner-6 fullscreen-banner">
      <div class="container">

        <div class="login-wrapper">
          <div class="card-wrapper"></div>
          <div class="card-wrapper">
            <h1 class="title">Entrar <img  src="principal/images/LOGUITU.png"> </h1>
            <form action="/login" method="POST">
              <div class="input-container">
                <input type="text" id="email" required="true" name="email" />
                <label for="username">Correo electr칩nico</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="password" required="true" name="password" />
                <label for="password">Contrase침a</label>
                <div class="bar"></div>
              </div>
              <div class="button-container">
                <button type="submit" class="btn btn-lg btn-block waves-effect waves-light">Entrar</button>
              </div>
              <!-- <div class="footer"><a href="#">Forgot your password?</a></div> -->
            </form>
          </div>
          <div class="card-wrapper alt">
            <div class="toggle"></div>
            <h1 class="title">Registro
            <div class="close"></div>
          </h1>
            <form action="/signup" method="POST">
              <div class="input-container">
                <input type="text" id="email" required="true" name="name">
                <label for="username">Nombre</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="text" id="email" required="true" name="email1">
                <label for="newusername">Correo electr칩nico</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="password" required="required" name="password1" />
                <label for="newpassword">Contrase침a</label>
                <div class="bar"></div>
              </div>
              <div class="button-container">
                <button type="submit" class="btn btn-lg btn-block white waves-effect waves-red" >Registrarse</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.3.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/materialize/js/materialize.min.js"></script>
    <script src="/assets/js/menuzord.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.sticky.min.js"></script>
    <script src="/assets/js/smoothscroll.min.js"></script>
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/imagesloaded.js"></script>
    <script src="/assets/js/animated-headline.js"></script>
    <script src="/assets/js/scripts.js"></script>

    script include showlogin.js

  </body>
  </html>