<div class="nav-header">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
  <h1 id="fh5co-logo"><a href="index.html" style="font-weight:bold"><img  src="images/LOGUITU.png"> Felinorte </a></h1>
  <nav id="fh5co-menu-wrap" role="navigation">
    <ul class="sf-menu" id="fh5co-primary-menu">
      <li><a class="active" href="indexhome.html">Inicio</a></li>
      <li><a href="sobreFelinorte.html">Sobre nosotros</a></li>
      <li><a href="catalogo.html">Catálogo</a></li>
      <li><a href="blogGatos.html">Sobre gatos</a></li>
      <li><a href="contact.html">Contácto</a></li>
      <li>
        <a href="#" class="fh5co-sub-ddown">Login</a>
        <ul class="fh5co-sub-menu">
          <li><a href="#">Iniciar sesión</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>