doctype
html
  head
    include headload
    title= "Bienvenidos"
  body
    div(style="background: #2261BA;" id="cont")
      div(style="margin: auto; width:50%;" )
        div( class="container" style="margin: auto")
          div( id="mensaje" class="message" )
            p(style="color:#2261BA;") ♫ Bienvenido ♫
          div(class="cat") 
            span(class="eyes left")
            span(class="eyes right")
            span( id="boca" class="mouth" )
        section(class="progress white" style="margin: auto; width:60%; position:relative; top:69%; ")
          section(class="determinate" style=" background-color:#283593;  width: 0; animation:preloader 3s ; ")
      div( class="signature")
          p Adopta una mascota 
            i(class="much-heart")
              by
              a UNINORTE!
    script(type="text/javascript" src="/js/cerrar.js")
    // Archivos JS necesarios