<!DOCTYPE html>
<html class="no-js">
include header

<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      <div id="fh5co-header">
        <header id="fh5co-header-section">
          <div class="container">
            include nave
          </div>
        </header>

      </div>
      <!-- end:fh5co-header -->
      <div class="fh5co-parallax" style="background-image: url(principal/images/gato3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
              <div class="fh5co-intro fh5co-table-cell">
                <h1 class="text-center">ABOUT CATS</h1>
                <p>Lo que necesitas saber acerca gatos</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="fh5co-blog-section">
        <div class="container">
          <div class="row">
            <h3>PERSONALIDADES GATUNAS &mdash; Elige al ideal para ti</h3>

            <div class="col-md-9">
              <div class="blog-grid" style="background-image: url(principal/images/gato5.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Investigador privado</a></h3></div>
              <div class="desc">
                <p>Trabajan encubiertos para mantener un ojo en usted y su hogar. Quizá usted ni siquiera se de cuenta que está bajo constante vigilancia. Puede desaparecer si alguien o algo interfiere con su investigación. Si usted necesita un gato que sepa cómo mantenerse fuera
                  de problemas y siempre mantenga sus secretos, este es su gato ideal.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/admirador.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Admirador secreto</a></h3></div>
              <div class="desc">
                <p>Cuando se trata de relaciones, estos gatos son expertos. No saltan de patas a primeras, si usted sabe a que queremos referirnos.Pero luego de un poco de tiempo lo llenara con ronroneos, cabezazos y muchas vueltas. Puede que le guste salir a menudo, pero siempre vuelve.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/insecto.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Insecto de amor</a></h3></div>
              <div class="desc">
                <p>¿Buscas afecto? ¡Se lo da! Si también le gusta acariciar, ronronear y patas amasando su regazo, este gato y usted pueden tener mucho en común. Ideal para personas que disfrutan de momentos tranquilos y de unión. Este gato puede ser
                  exactamente lo que quiere.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/jefe.jpg);"></div>
              <div class="desc">
                <h3><a href="#">El ejecutivo</a></h3></div>
              <div class="desc">
                <p>Hay que decir, que es un gato ocupado. En primer lugar, tiene que comprobar lo que está sucediendo por la ventana. A continuación, tiene la necesidad de mirar dentro de los armarios. Y luego están sus siestas (nunca es tarde para estas).
                  Puede encajar un poco de socialización en su horario. Si a usted tambien le gustan las croquetas puede que le haga un espacio dentro de su ocupada agenta para compartir un desayuno...</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/compi.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Compañero</a></h3></div>
              <div class="desc">
                <p>Como todos los compañeros, es simplemente un buena compañía. Le gusta la atención, y también la soledad. No va a buscar problemas, pero tampoco es un gato asustadizo. Si usted está buscando un compañero constante para viajar con usted en
                  el camino de la vida, no busque más.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/asistente.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Asistente personal</a></h3></div>
              <div class="desc">
                <p>¿Está trabajando en la computadora? Déjelo presionar las teclas. ¿Leyendo el periodico? Va a mantener las páginas abajo para usted. ¿Viendo la televisión? Va a acostarse en su regazo para que lo pueda mimar.¿Le encanta una casa ordenada?
                  Le ayudará con todas sus tareas, y a relajarse cuando hayan terminado. Se preguntará después de un tiempo, ¿que sería de su vida sin el?</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/mpv.jpg);"></div>
              <div class="desc">
                <h3><a href="#">MPV</a></h3></div>
              <div class="desc">
                <p>Es un gato experto en mantener la calma. Es bastante imperturbable, también. No le importa entretenerse a si mismo, pero un compañero humano en el otro extremo del sofá y unas caricias agradables detrás de las orejas siempre hacen su día. Si está buscando una adición ingeniosa a su vida, piense en este gatito tan valioso.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/pary.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Party Animal</a></h3></div>
              <div class="desc">
                <p>Es un gato con una misión: ¡FIESTA! Ama jugar, explorar y probar sus límites. Le encantaría jugar contigo, pero puede hacer un juguete con cualquier cosa: lápices, notas post-it, patatas, cortinas... Si estás buscando algunas risas y alguien para animar la fiesta, no dude en invitarlo.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

              <div class="blog-grid" style="background-image: url(principal/images/lider.jpg);"></div>
              <div class="desc">
                <h3><a href="#">Lider</a></h3></div>
              <div class="desc">
                <p>Es un gato que hace todo de una manera grande y diferente. No sólo le gusta estar en medio de las cosas, le gusta liderar el desfile. Es un gato aventurero, pero tardará un montón de tiempo para mostrar su lado cariñoso. No es del tipo demostrativo, podría decirse. ¿Quieres un gato que este lleno de confianza? Un lider es perfecto.</p>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Buscar<i class="ti-angle-right"></i></a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
       include footer
    </div>
  </div>
  <!-- END fh5co-wrapper -->

  <!-- Javascripts -->
  <script src="principal/js/jquery-2.1.4.min.js"></script>
  <!-- Dropdown Menu -->

  <script src="principal/js/hoverIntent.js"></script>
  <script src="principal/js/superfish.js"></script>
  <!-- Bootstrap -->
  <script src="principal/js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="principal/js/jquery.waypoints.min.js"></script>
  <!-- Counters -->
  <script src="principal/js/jquery.countTo.js"></script>
  <!-- Stellar Parallax -->
  <script src="principal/js/jquery.stellar.min.js"></script>
  <!-- Owl Slider -->
  <!-- // <script src="js/owl.carousel.min.js"></script> -->
  <!-- Date Picker -->
  <script src="principal/js/bootstrap-datepicker.min.js"></script>
  <!-- CS Select -->
  <script src="principal/js/classie.js"></script>
  <script src="principal/js/selectFx.js"></script>
  <!-- Flexslider -->
  <script src="principal/js/jquery.flexslider-min.js"></script>
  <script src="principal/js/scrolls.js"></script>
  <script src="principal/js/custom.js"></script>

</body>

</html>