<!DOCTYPE html>
<html class="no-js">
include header

<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      <div id="fh5co-header">
        <header id="fh5co-header-section">
          <div class="container">
            include nave
          </div>
        </header>

      </div>
      <!-- end:fh5co-header -->
      <div class="fh5co-parallax" style="background-image: url(principal/images/amoFeli.png);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
              <div class="fh5co-intro fh5co-table-cell">
                <h1 class="text-center">FELINORTE</h1>
                <p>Proyecto institucional</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="featured-hotel" class="fh5co-bg-color">
        <div class="container">
          <div id="descrip" class="feature-full-2col">
            <div class="text">
              <h3>Felinorte</h3>
              <p>El campus de la Universidad del Norte, por su ubicación geográfica, es un punto de encuentro de varios tipos de fauna silvestre que deben ser protegidos a través de iniciativas que estimulen la vida en armonía con nuestro entorno y la formación
                de una cultura de responsabilidad social-ambiental, especialmente considerando el rol de Uninorte como referente regional. En el caso particular de los felinos, éstos desempeñan un rol muy importante en nuestro campus: el control de plagas.
                Sin embargo, si se reproducen indiscriminadamente al punto de generar sobrepoblación felina, los impactos ambientales y en la salud pública serían considerables y adicionalmente los felinos sufrirían los efectos de la escasez de recursos,
                los cuales incluyen desnutrición, heridas causadas por la agresión territorial, enfermedades, etc. Consecuentemente, es necesario educar y sensibilizar en esta temática que afecta al humano y a su entorno de manera que éste desarrolle
                competencias académicas y psicoafectivas que le permitan participar activamente en la prevención de la pérdida de equilibrio de los ecosistemas y la propagación de zoonosis. Además de ésto, se debe enfatizar en actividades que busquen
                la protección y armonía con el entorno, que garanticen el bienestar de nuestra fauna y el de los humanos que se interactúan directa o indirectamente con ella y en las que simultáneamente se le brinde un trato empático y compasivo a las
                especies del campus, evitando así su posterior sufrimiento a causa de la sobrepoblación. El tipo de trabajo que se hace en Ecocampus y Felinorte da fe del carácter vanguardista y de alta calidad de nuestra institución, en la cual el propio
                campus hace parte de la experiencia formativa de los estudiantes constituyendo una plataforma de aprendizaje que estimula el desarrollo de valores ambientales y de tolerancia. La labor realizada por Felinorte no es muy lejana a las tendencias
                que existen en esta materia en otras universidades nacionales e internacionales.</p>
              <p class="text"> Texto tomado de: <a href="http://www.uninorte.edu.co/web/ecocampus/felinorte">Uninorte.edu.co/felinorte</a></p>
            </div>
          </div>
        </div>
      </div>


      <div id="fh5co-services-section">
        <div class="container">
          <div class="section-title text-center" <h2>
            </h2>
          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-flag"></i></span>
                <div class="desc">
                  <h3>¿Qué hacemos?</h3>
                  <p>Felinorte como proyecto programa educativo busca desarrollar proyectos de I+D+i utilizando el campus, los problemas asociados a sus ecosistemas y la interacción de sus especies, en particular la interacción de los gatos con el humano,
                    como plataforma de aprendizaje. Felinorte integra actividades académicas de investigación y desarrollo alrededor de temas como el maltrato animal, la salud, la conciencia ambiental, el emprendimiento e innovación social y el desarrollo
                    de productos y servicios orientados al mejoramiento del entorno en el cual los gatos interactúan con los humanos. </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-eye"></i></span>
                <div class="desc">
                  <h3>¿Cómo lo hacemos? </h3>
                  <p>La ejecución de proyectos académicos en el marco de Felinorte se realiza gracias al apoyo de profesores investigadores que asesoran proyectos en sus asignaturas, en particular Proyecto Final, que brinden soluciones, desde su disciplina,
                    a los problemas particulares de la implementación de un programa de control poblacional dentro del campus, la tenencia responsable de mascotas y el desarrollo de la conciencia ambiental para la convivencia armónica con las especies
                    presentes en el campus.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-user"></i></span>
                <div class="desc">
                  <h3>¿Cómo participar?</h3>
                  <p>Los miembros de la comunidad uninorteña que deseen colaborar pueden involucrarse de diversas formas: Participando en proyectos académicos en el marco de Felinorte, con donaciones de alimentos para gato en la Oficina de Univoluntarios,
                    con donaciones de esterilizaciones a través de la fundación SOS apoyo animal, haciendo veeduría sobre el bienestar de los felinos y reportar casos en los que se considere que necesitan de nuestra ayuda o convirtiéndose en voluntario
                    y haciendo uso de las competencias desarrolladas a lo largo de su formación profesional para el bienestar ambiental del campus.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-thought"></i></span>
                <div class="desc">
                  <h3>Objetivo Felinorte</h3>
                  <p>Concientizar a la comunidad universitaria de la acción de Felinorte, no como un refugio animal, sino como un grupo estudiantil que busca por medio de la población felina de Uninorte desarrollar las habilidades y conocimientos de sus integrantes, aportando a su vez beneficios a dicha población, como son: alimento, salud y la estabilidad de sus colonias.</p>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-search"></i></span>
                <div class="desc">
                  <h3>Lo más importante: Ellos</h3>
                  <p>Por encontrarnos en un centro académico el manejo de estas poblaciones se realiza con rigurosidad científica, basándonos en lo que dicen las investigaciones al respecto y respetando en todo momento la interacción natural de las diferentes especies y su entorno.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="services">
                <span><i class="ti-heart"></i></span>
                <div class="desc">
                  <h3>¡Gracias!</h3>
                  <p>Nuestro trabajo es posible gracias al apoyo financiero y logístico de la Dirección de Servicios Administrativos de la Universidad y la colaboración con donaciones en dinero y/o especie de la comunidad Uninorteña.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
       include footer

    </div>
  </div>
  <!-- END fh5co-wrapper -->

  <!-- Javascripts -->
  <script src="principal/js/jquery-2.1.4.min.js"></script>
  <!-- Dropdown Menu -->

  <script src="principal/js/hoverIntent.js"></script>
  <script src="principal/js/superfish.js"></script>
  <!-- Bootstrap -->
  <script src="principal/js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="principal/js/jquery.waypoints.min.js"></script>
  <!-- Counters -->
  <script src="principal/js/jquery.countTo.js"></script>
  <!-- Stellar Parallax -->
  <script src="principal/js/jquery.stellar.min.js"></script>
  <!-- Owl Slider -->
  <!-- // <script src="js/owl.carousel.min.js"></script> -->
  <!-- Date Picker -->
  <script src="principal/js/bootstrap-datepicker.min.js"></script>
  <!-- CS Select -->
  <script src="principal/js/classie.js"></script>
  <script src="principal/js/selectFx.js"></script>
  <!-- Flexslider -->
  <script src="principal/js/jquery.flexslider-min.js"></script>
  <script src="principal/js/scrolls.js"></script>
  <script src="principal/js/custom.js"></script>

</body>

</html>